header {
    background-color: #CF000F;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    /*background: linear-gradient(to bottom right,#2E86C1, #3498DB);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: url('../images/pexels-photo.jpg')no-repeat center center fixed;
    */ background-color: #000;
}

.inlamning-top div {

    margin-left:auto;
    margin-right:auto;
    text-align:center;

}
aside {
}

footer {
    background-color: #CF000F;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: -1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #CF000F;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: InactiveBorder;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar .brand, .navbar .nav > li > a:hover {
    text-decoration: underline;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}



@media (max_width: 767px) {
}