header {
    /*background-color: #CF000F;*/
}


body {
    padding-top: 80px;
    color: #000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #FFF;
    /*background-image: url('../images/lp.jpg');*/
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    /*padding-bottom: 75px;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-primary {
    color: #fff;
    background-color: #CF000F;
    border: none;
    border-radius: 0px;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #D91E18;
        border: none;
        border-radius: 0px;
    }




        .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
            color: #fff;
            background-color: #D91E18;
            border: none;
            border-radius: 0px;
        }


.inlamning-top div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

aside {
    background-color: #fff;
    float: right;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    font-size: 14px;
    border-radius: 5px 5px;
    /*padding-right: 3px;*/
    flex: 0 1 auto;
}

.homeboyz {
    background-color: #FFF;
    margin: 1em auto;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    font-size: 14px;
    border-radius: 5px 5px;
    color: #333;
    flex: 1 0 auto;
}
/*.handins {
background-color: orangered;
float:right;
}*/
/*.logmein {
    background-image: url('../images/pexels-photo.jpg');
    background-repeat: no-repeat;
    box-shadow: 5px 10px #888888;
    
}*/
.navbar img {
    height: 50%;
    width: 50%;
}

footer {
    background-color: #22313F;
    bottom: 0;
    left: 0;
    /*position: fixed;*/
    text-align: center;
    padding: 1em;
    width: 100%;
    z-index: -1;
    color: #FFF;
    height: 75px;
    flex-shrink: 0;
    margin-top: auto;
}
#loginForm {
    background-color: rgba(255, 255, 255, 0);
    height: 400px;
    width: 400px;
    /*margin-top: 39px;
    
    padding-left: 25px;*/
    color: #CF000F;
    border-radius: 5px 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    /*box-shadow: 5px 5px #CF000F;*/
    margin: auto;
    width: 50%;
    padding: 10px;
    flex: 1 0 auto;
}


.fillmeup {
    background-color: #FFF;
    color: #CF000F;
    border-radius: 5px 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    /*box-shadow: 5px 5px #CF000F;*/
    margin: auto;
}

.form-control {
    background-color: #FFF;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 55px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.navbar {
    margin-bottom: 0px;
    padding: 8px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-inverse {
    background-color: #22313F;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: InactiveBorder;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar .brand, .navbar .nav > li > a:hover {
    text-decoration: underline;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.cbp-af-header-shrink {
    padding-top: 1px;
    padding-bottom: 1px;
}


h2 {
    /*padding: 15px;
    margin-left: 15px;*/
    /*background-color: #CF000F;*/
    color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    /*border-radius: 5px 5px;*/
}



h3 {
color: #CF000F;
font-size: 15px;
}


h6 {
color: #FFF;
}
a {
    color: #CF000F;
    /*padding: 15px;*/
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: #CF000F;
}

.panel {
    margin-right: 15PX;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.fileUpload {
    position: relative;
    right: 10px;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
}

.fileUpload input.upload {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  
}





#myInput {
    width: 100%;
    font-size: 16px;
    padding: 2px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 5px;
}


