body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Course objects */
.module {
    border: 2px solid #808080;
    border-radius: 4px;
    margin: 1em;
    /*padding: 1em;*/
}

.activity {
    border: 2px solid #808080;
    border-radius: 4px;
    margin: 1em;
    /*padding: 1em;*/
}

.overdue {
    color: red;
}

.turnedin {
    color: green;
}

/*Collapsing menus*/
.collapsible {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible:hover {
    background-color: #f1f1f1;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
